.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
}

p {
  padding: 0;
  margin: 0;
}

.ex1 {
  border: 1px dotted rgb(0, 0, 0);
  text-align: justify;
  padding: 20px 100px 20px 20px;
  margin-bottom: 50px;
}

.ex1_img1 {
  width: 200px;
  height: 200px;
  padding: 0 10px 10px 0;
  float: left;
}

.ex1_img2 {
  width: 200px;
  height: 200px;
  padding: 10px 0 10px 10px;
  float: right;
}

.ex2_first, .ex2_second {
  border: 1px dotted rgb(0, 0, 0);
  padding: 20px;
  margin-bottom: 50px;
}

.first_square {
  position: relative;
  background: rgb(97, 224, 139);
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.square_1 {
  position: absolute;
  background: rgb(255, 255, 255);
  width: 120px;
  height: 120px;
  top: 50px;
  left: 50px;
}

.square_2 {
  position: absolute;
  background: rgb(255, 255, 255);
  width: 120px;
  height: 120px;
  bottom: 50px;
  right: 50px;
}

.second_face {
  position: relative;
  background: rgb(97, 224, 139);
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 0 auto;
}

.eye1 {
  position: absolute;
  background: rgb(255, 255, 255);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 80px;
  left: 80px;
}

.eye2 {
  position: absolute;
  background: rgb(255, 255, 255);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 80px;
  right: 80px;
}

.nose {
  position: absolute;
  background: rgb(255, 255, 255);
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.mouth {
  position: absolute;
  background: rgb(255, 255, 255);
  width: 200px;
  height: 20px;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%);
}

.ex3_img {
  width: 100px;
  height: 100px;
}

.ex3 ul {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
}

.ex3 ul li {
  display: inline-block;
  list-style: none;
  text-align: center;
  font-size: 0.8em;
  border: 1px solid rgb(0, 0, 0);
  padding: 10px 10px 0 10px;
  margin: 5px;
}

.arrow {     
  position: absolute;
  height: 60px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 28px;
  line-height: 2;

  /* position: absolute приоритетнее, чем display: table-cell
  и делает элемент блочным, а vertical-align не работает 
  с блочными элементами */
}